@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::before, *::after{
  padding: 0;
  margin: 0;
}
:root{
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515C6F;
  --white: #ffffff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0,0,0,0.15);
}
body{
    background: #515C6F;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper{
    width: 380px;
    background: #cfcfcf;
    position:relative;
    overflow: hidden;
    border-radius: 15px;
    padding: 30px 30px;
    box-shadow: 0px 6px 15px var(--lightbshadow);
}
.wrapper i{
    cursor: pointer;
}
.top-bar{
    text-align: center;
}
.progress .timer, .controls, .musiclist .header, .musiclist li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-bar i{
    font-size:30px;
    color: var(--lightblack);
}
.top-bar span{
    font-size:22px;
    color: var(--lightblack);
}
.image{
    height:260px;
    width:260px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-top:5px;
    overflow:hidden;
    border-radius: 50%;
}
.image img{
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-size: cover;
}
.song{
    text-align: center;
    cursor:default;
    margin:20px 0px;
    color: var(--lightblack);
}
.song .name{
    font-size: 21px;
}
.song .artist{
    opacity: 0.9;
    font-size: 13px;
}
.progress{
    height: 6px;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 50px;
    cursor:pointer;
}
.progress .progress-bar{
    height:inherit;
    width:0%;
    position:relative;
    border-radius:inherit;
    background: linear-gradient(90deg, var(--pink)0%, var(--violet)100%);
}
.progress-bar::before{
        content: "";
        position: absolute;
        height: 12px;
        width: 12px;
        background: #0000;
        border-radius: inherit;
        top: 50%;
        right: -5px;
        transform: translateY(-50%);
        background: inherit;
        opacity: 0;
        transition: opacity 0.2s ease;
}
.progress:hover .progress-bar::before{
    opacity:1;
}
.progress .timer{
    margin-top:2px;
}
.timer span{
    font-size: 13px;
    color: var(--lightblack);
}
.controls{
    margin:25px 0px 25px 0px;
}
.controls i{
    font-size: 28px;
    user-select: none;
    background: linear-gradient(var(--pink)0%, var(--violet)100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.controls :nth-child(2),.controls :nth-child(4){
    font-size:43px;
}
.controls #prev{
    margin-right: -13px;
}
.controls #next{
    margin-left: -13px;
}
.controls .play-pause{
    height:50px;
    width: 50px;
    background: linear-gradient(var(--white)0%, var(--darkwhite)100%);
    box-shadow:0px 0px 5px var(--pink);
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.play-pause::before{
    content:"";
    position:absolute;
    height:40px;
    width:40px;
    border-radius: inherit;
    background: linear-gradient(var(--pink)0%, var(--violet)100%);
}
.play-pause i{
    height:40px;
    width:40px;
    line-height:40px;
    text-align: center;
    border-radius: inherit;
    position:relative;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.musiclist{
    position:absolute;
    left:0;
    bottom:-55%;
    opacity: 0;
    pointer-events: none;
    width:100%;
    padding:15px 30px;
    border-radius: 15px;
    box-shadow:0px -5px 10px rgba(0,0,0,0.1);
    background: var(--white);
    transition:all 0.14s ease-out;
}
.musiclist.show{
    bottom:0;
    opacity: 1;
    pointer-events: auto;
}
.musiclist .header .row{
    display:flex;
    align-items: center;
    font-size:19px;
    color:var(--lightblack);
}
.header .row i{
    cursor:default;
}
.header .row span{
    margin-left:5px;
}
.header .row #close{
    font-size: 22px;
    color:var(--lightblack);
}
.musiclist ul{
    margin:10px 0px;
    max-height: 260px;
    overflow-y: auto;
}
.musiclist ul::-webkit-scrollbar{
    width: 0px;
}
.musiclist ul li{
    cursor:pointer;
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
    color:var(--lightblack);
}
.musiclist ul li:last-child{
    border-bottom: 0px;
}
.musiclist ul li .row span{
    font-size: 17px;
}
ul li .row p{
    opacity:0.9;
}
ul li .duration{
    font-size:16px;
}
ul li.playing{
    color:var(--violet);
    pointer-events: none;
}
@media(max-width:330px){
    .image{
        margin-left:4px;
    }
}
@media(min-width:760px){
    .wrapper{
        width: 500px;
    }
    .image{
        height:283px;
        width:330px;
        border-radius:15px;
        margin-top:20px;
        margin-left:60px;
    }
}